html {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  width: 760px;
  margin: 0 auto;
}

.intro {
  text-align: center;
}

h1 {
  color: steelblue;
}

.card {
  width: 100%;
  background-color: #DEDEDE;
}

.card th {
  width: 20%;
}

.card th h2 {
  text-align: center;
  font-family: sans-serif;
  font-size: 24pt;
}

.card td {
  text-align: center;
  background-color: #FFF;
  height: 4em;
  border: 1px solid #DEDEDE;
  font-size: 1.5rem;
  line-height: 1.8rem;
}

.card td p {
  vertical-align: middle;
}

.share-container {
  margin-top:  6rem;;
}
.shareurl {
  width: 100%;
  font-size: 16pt;
}
 

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}